<!-- portfolio/contact.html -->

{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {{ block.super }} - Contact RealNitinWorks
{% endblock title %}

<!-- Dynamic content on banner overlay -->
{% block banner_content %}
<div class="col d-flex align-items-center justify-content-center">
    <div class="text-center">
        <h1 class="display-5">Contact Me</h1>
        <hr class="hr-accent">
    </div>
</div>
{% endblock banner_content %}
<!-- Dynamic content on banner overlay ends -->

<!-- Page content sections -->
{% block content %}

<!-- Section 1-->
<div class="email-share-form p-5 d-flex justify-content-center normal-text section-primary section-boundary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                {% if sent %}
                <h3>
                    <a href="{% url 'portfolio:home' %}">RealNitinWorks</a> will look into your query.
                </h3>
                {% else %}
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-warning btn-block" type="submit" value="Send">
                </form>
                {% endif %}                
            </div>
        </div>
    </div>
</div>
<!-- Section 1 ends -->

{% endblock content %}