{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ block.super }} - Home
{% endblock title %}

<!-- Dynamic content on banner overlay -->
{% block banner_content %}
<div class="col-sm-6 d-flex align-items-center justify-content-center">
    <div class="text-center">
        <h1 class="display-4">Nitin Cherian</h1>
        <h2>Programmer, Learner and Blogger</h2>
        <hr class="hr-accent">
    </div>
</div>
<div class="col-sm-6 d-flex justify-content-center align-items-center">
    <picture>
        <img src="{% static "assets/img/me.png" %}" class="img-fluid rounded-circle shadow-lg" alt="Picture of Me">
    </picture>
</div>
{% endblock banner_content %}
<!-- Dynamic content on banner overlay ends -->

<!-- Page content sections -->
{% block content %}

<!-- Section 1 -->
<section id="about" class="section-boundary">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-none d-lg-block"><img class="img-fluid shadow-lg"
                    src="{% static "assets/img/skills_list.jpeg" %}" style="height: 600px;"></div>
            <div class="col-lg-6">
                <h3 class="pb-2"><span class="heading-underline">About Me</span></h3>
                <p class="text-left normal-text">I am Nitin George Cherian. Software Engineer and Blogger. I live in
                    Bangalore&nbsp;with my wife and two lovely boys.</p>
                <p class="text-left normal-text">I love programming and the web. Python is my favourite language.
                    Interested&nbsp;in distributed systems and concurrent systems.</p>
                <p class="text-left normal-text">During my free time, I do side projects, blog and polishes my
                    skills in
                    programming and&nbsp;design.</p>
                <div class="row normal-text" style="padding-top: 41px;">
                    <div class="col-lg-6">
                        <ul>
                            <li>Python</li>
                            <li>C/C++</li>
                            <li>Django</li>
                            <li>Flask</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li>Docker</li>
                            <li>Git</li>
                            <li>Pytest</li>
                            <li>Javascript</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section 1 ends -->

{% endblock content %}
<!-- Page content ends -->