{% extends 'base.html' %}

{% block title %}
{{ block.super }} - Portfolio
{% endblock title %}

<!-- Dynamic content on banner overlay -->
{% block banner_content %}
<div class="col-sm-12 d-flex align-items-center justify-content-center">
    <div class="text-center">
        <h1 class="display-4">My Portfolio</h1>
        <hr class="hr-accent">
    </div>
</div>
{% endblock banner_content %}
<!-- Dynamic content on banner overlay ends -->

{% block content %}

<!-- Portfolio Section -->
<div class="section-primary section-boundary">
    <div class="container-fluid">
        <div id="portfolio-grid" class="p-5">

            <!-- Projects -->
            <div id="projects">
                <div class="portfolio-category-title mb-4">
                    <h2>
                        Projects
                    </h2>
                </div>
                <div class="card-columns">
                    {% for project in  projects %}
                    <div class="card bg-dark mb-4">
                        <a class="portfolio-item" href="{{ project.get_absolute_url }}">
                            <img class="card-img-top" src="{{ project.image.url }}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ project.title }}</h5>
                                <p class="card-text">{{ project.summary }}</p>
                            </div>
                        </a>
                        <div class="card-footer">
                            {% for skill in project.skills.all %}
                            <span class="badge badge-warning">{{ skill }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Projects end-->

        </div>
    </div>
</div>
<!-- Portfolio Section ends -->

{% endblock content %}