<section id="quote" class="section-boundary" style="height: 300px;">
    <div class="container">
        <div class="row align-items-center" style="height: 300px;">
            <div class="col text-center">
                <span class="display-4 d-none d-md-inline-block"><i class="fa fa-quote-right shadow"></i></span>
                <span class="d-inline-block display-4" style="padding-right: 10px;padding-left: 10px;">
                    {{ quote }}
                </span>
                <span class="display-4 d-none d-md-inline-block"><i class="fa fa-quote-right shadow"></i></span>
            </div>
        </div>
    </div>
</section>