:root {
  --black-color: black;
  --navbar-brand-hover-color: var(--black-color);
  --navbar-links-hover-color: var(--black-color);
  --footer-background: var(--black-color);
  --post-list-link-color: var(--black-color);
  --pagination-link-color: var(--black-color);

  --first-set-primary-color: #cc1e48cf;
  --first-set-secondary-color: #ce3d5fcf;
  --header-background-secondary-color: var(--first-set-secondary-color);
  --header-background-primary-color: var(--first-set-primary-color);
  --heading-underline-color: var(--first-set-primary-color);
  --list-tick-color: var(--first-set-primary-color);

  --second-set-primary-color: #d6d6d6;
  --second-set-secondary-color: #f0eaea;
  --title-underline-color: var(--second-set-primary-color);
  --about-background-color: var(--second-set-primary-color);
  --section-background-primary-color: var(--second-set-primary-color);
  --section-background-secondary-color: var(--second-set-secondary-color);

  --third-set-primary-color: #f04216;
  --post-detail-link-color: var(--third-set-primary-color);
  --section-boundary-color: var(--third-set-primary-color);
  --email-share-form-link-color: var(--third-set-primary-color);

  --fourth-set-primary-color: #4d4948;
  --blockquote-color: var(--fourth-set-primary-color);
  --code-background-color: var(--fourth-set-primary-color);

  --white-color: white;
  --navbar-color: var(--white-color);
  --banner-color: var(--white-color);
  --quote-color: var(--white-color);
  --footer-color: var(--white-color);
  --footer-link-color: var(--white-color);
}

body {
  color: var(--black-color);
}

.h-100 {
  height: 100%!important;
}

.navbar {
  background-color: var(--header-background-secondary-color);
  color: var(--navbar-color);
}

a.navbar-brand:hover {
  color: var(--navbar-brand-hover-color)!important
}

.navbar ul li a {
  font-weight: 800;
}

.navbar ul li a:hover {
  color: var(--navbar-links-hover-color)!important;
}

#banner {
  background-color: var(--header-background-primary-color);
  color: var(--banner-color);
}

#banner > div {
  min-height: 600px;
}

#banner > div > div {
  min-height: 600px;
}

#banner hr {
  border-top: 5px solid;
  width: 65%;
}

.hr-accent {
  border-top-color: var(--title-underline-color)!important;
}

#about {
  background-color: var(--about-background-color);
  padding: 40px 0;
}

.heading-underline {
  border-bottom: 5px solid var(--heading-underline-color);
}

.normal-text {
  font-size: 20px;
  font-weight: 600;
}

.section-boundary {
  border-bottom: 2px solid var(--section-boundary-color);
}

#about ul {
  list-style: none;
}

#about ul li:before {
  content: '✓';
  padding-right: 5px;
  color: var(--list-tick-color);
  font-size: larger;
}

#quote {
  background-color: var(--header-background-primary-color);
  color: var(--quote-color);
}

footer {
  background-color: var(--footer-background);
  color: var(--footer-color);
}

footer a {
  text-decoration: none;
  color: var(--footer-link-color);
}

footer a:hover {
  text-decoration: none;
  color: var(--third-set-primary-color);
}

.section-primary {
  background-color: var(--section-background-primary-color);
}

.section-secondary {
  background-color: var(--section-background-secondary-color);
}

.header-primary {
  background-color: var(--header-background-primary-color);
}

.header-secondary {
  background-color: var(--header-background-secondary-color);
}

.post-list-grid {
  min-height: 200px;
}

.post-list-grid a {
  color: var(--post-list-link-color);
  text-decoration: none;
}

.pagination a {
  text-decoration: none;
  color: var(--pagination-link-color);
}

.post-detail a {
  text-decoration: none;
  color: var(--post-detail-link-color);
}

.post-text {
  font-size: 20px;
  font-weight: 400;
}

.post-text .highlight pre{
  background-color: var(--code-background-color);
  font-size: 20px;
  padding: 2rem;
}

.email-share-form a{
  color: var(--email-share-form-link-color);
  text-decoration: none;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 20px;
    font-weight: 600;
    border-left: 5px solid var(--blockquote-color);
}

blockquote > p {
    margin-bottom: 0;
}
