:root {
  --black-color: black;
  --navbar-brand-hover-color: var(--black-color);
  --navbar-links-hover-color: var(--black-color);
  --footer-background: var(--black-color);
  --pagination-link-color: var(--black-color);
  --post-list-sidebar-background-color: var(--black-color);
  --similar-posts-background-color: var(--black-color);

  --first-set-primary-color: #3d3d3d;
  --first-set-secondary-color: #393939;
  --navbar-background-color: var(--first-set-secondary-color);
  --banner-background-color: var(--first-set-primary-color);
  --quote-background-color: var(--first-set-primary-color);
  --base-toast-background-color: var(--first-set-primary-color); 
  
  --second-set-primary-color: #343434;
  --second-set-secondary-color: #3e3e3e;
  --about-background-color: var(--second-set-primary-color);
  --section-background-primary-color: var(--second-set-primary-color);
  --section-background-secondary-color: var(--second-set-secondary-color);
  --comments-section-background-color: var(--second-set-secondary-color);
  --odd-comment-background-color: var(--second-set-primary-color);
  --even-comment-background-color: var(--comment-section-background-color);

  --third-set-primary-color: #f04216;
  --third-set-primary-color-transparent: #f042164b;
  --post-detail-link-color: var(--third-set-primary-color);
  --section-boundary-color: var(--third-set-primary-color);
  --email-share-form-link-color: var(--third-set-primary-color);
  --feeds-link-color: var(--third-set-primary-color);
  --title-underline-color: var(--third-set-primary-color);
  --heading-underline-color: var(--third-set-primary-color);
  --list-tick-color: var(--third-set-primary-color);
  --hr-color: var(--third-set-primary-color-transparent);
  --tag-link-hover-background-color: var(--third-set-primary-color);

  --fourth-set-primary-color: #4d4948;
  --code-background-color: var(--fourth-set-primary-color);

  --white-color: white;
  --navbar-color: var(--white-color);
  --banner-color: var(--white-color);
  --quote-color: var(--white-color);
  --footer-color: var(--white-color);
  --footer-link-color: var(--white-color);
  --post-list-link-color: var(--white-color);
  --blockquote-color: var(--white-color);
}

body {
  color: var(--white-color);
}

hr {
  border-top: 1px solid var(--hr-color);
}

.h-100 {
  height: 100%!important;
}

.navbar {
  background-color: var(--navbar-background-color);
  color: var(--navbar-color);
}

a.navbar-brand:hover {
  color: var(--navbar-brand-hover-color)!important
}

.navbar ul li a {
  font-weight: 800;
}

.navbar ul li a:hover {
  color: var(--navbar-links-hover-color)!important;
}

#banner {
  background-color: var(--banner-background-color);
  color: var(--banner-color);
}

#banner > div {
  min-height: 600px;
}

#banner > div > div {
  min-height: 600px;
}

#banner hr, .post-list-sidebar hr {
  border-top: 5px solid;
  width: 65%;
}

.hr-accent {
  border-top-color: var(--title-underline-color)!important;
}

#about {
  background-color: var(--about-background-color);
  padding: 40px 0;
}

.heading-underline {
  border-bottom: 5px solid var(--heading-underline-color);
}

.normal-text {
  font-size: 20px;
  font-weight: 600;
}

.section-boundary {
  border-bottom: 2px solid var(--section-boundary-color);
}

#about ul {
  list-style: none;
}

#about ul li:before {
  content: '✓';
  padding-right: 5px;
  color: var(--list-tick-color);
  font-size: larger;
}

#quote {
  background-color: var(--quote-background-color);
  color: var(--quote-color);
}

footer {
  background-color: var(--footer-background);
  color: var(--footer-color);
}

footer a {
  text-decoration: none;
  color: var(--footer-link-color);
}

footer a:hover {
  text-decoration: none;
  color: var(--third-set-primary-color);
}

.section-primary {
  background-color: var(--section-background-primary-color);
}

.section-secondary {
  background-color: var(--section-background-secondary-color);
}

.post-list-grid {
  min-height: 200px;
}

.post-list-grid a {
  color: var(--post-list-link-color);
  text-decoration: none;
}

.pagination a {
  text-decoration: none;
  color: var(--pagination-link-color);
}

.post-detail a {
  text-decoration: none;
  color: var(--post-detail-link-color);
}

.post-text {
  font-size: 20px;
  font-weight: 400;
}

.post-text .highlight pre{
  background-color: var(--code-background-color);
  font-size: 20px;
  padding: 2rem;
}

.email-share-form a{
  color: var(--email-share-form-link-color);
  text-decoration: none;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 20px;
    font-weight: 600;
    border-left: 5px solid var(--blockquote-color);
}

blockquote > p {
    margin-bottom: 0;
}

#comments_section {
  background-color: var(--comments-section-background-color);
}

.odd-comment {
  background-color: var(--odd-comment-background-color);
}

.even-comment {
  background-color: var(--even-comment-background-color);
}

.odd-comment .highlight pre, .even-comment .highlight pre{
  background-color: var(--code-background-color)!important;
  font-size: 20px;
  margin: 1.5rem 1.5rem;
  padding: 2rem;
}

.comments-pagination a{
  font-size: 2rem;
}

.base-toast {
  background-color: var(--base-toast-background-color)!important;
  position: relative; 
  min-height: 100px;
}

.post-list-sidebar {
  background-color: var(--post-list-sidebar-background-color);
}

.post-list-sidebar a {
  text-decoration: none;
}

a.tag-link {
  text-decoration: None;
  color: white;
}

a.tag-link:hover span{
  text-decoration: None;
  background-color: var(--tag-link-hover-background-color);
}

.similar-posts {
  background-color: var(--similar-posts-background-color);
}

#feeds{
  min-height: 200px;
  background-color: var(--second-set-primary-color);
}

#feeds a {
  color: var(--feeds-link-color);
}
