<!-- blog/post/post_list.html -->

{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}

{% block title %}
{{ block.super }} - Blog Posts
{% endblock title %}

<!-- Dynamic content on banner overlay -->
{% block banner_content %}
<div class="col-sm-12 d-flex align-items-center justify-content-center">
    <div class="text-center">
        <!-- Important! posts is a Page object and paginated -->
        {% if tag %}
        <!-- Banner text for posts filtered by tag -->
        <h1 class="display-4">Posts tagged with
            <span class="badge badge-success">
                <a class="tag-link" href="{% url "blog:post_list_by_tag" tag.slug %}">
                    "{{ tag.name }}"
                </a>
            </span>
        </h1>
        {% with posts.paginator.count as posts_count %}
        <!-- All the posts passed into this template have this tag irrespective of pagination -->
        <h4>Found <span class="badge badge-primary">{{ posts_count }}</span> post{{ posts_count|pluralize }}</h4>
        {% endwith %}

        {% else %}
        <!-- Banner text for all posts (no filtering on tags) -->
        <h1 class="display-4">My Blog</h1>
        <h4>The Blog has <span class="badge badge-primary">{% total_posts %}</span> posts</h4>
        {% endif %}

        <hr class="hr-accent">
    </div>
</div>
{% endblock banner_content %}
<!-- Dynamic content on banner overlay ends -->

<!-- Page content sections -->
{% block content %}

<!-- Section 1-->
<div class="section-primary">
    <div class="container-fluid">
        <div class="row">
            <!-- Post list -->
            <div class="col-12 col-lg-9 h-100">
                <div class="row">
                    {% for post in posts %}
                    <div
                        class="post-list-grid col-12 normal-text {% cycle 'section-primary' 'section-secondary' %} shadow-lg p-2 pt-5 pr-5 pl-5">
                        <!-- Post metadata -->
                        <a href="{{ post.get_absolute_url }}">
                            <h2>{{ post.title }}</h2>
                            <p class="text-info">{{ post.summary }}</p>
                            <div class="text-success">
                                Author: <span class="badge badge-warning">
                                    {{ post.author|title }}
                                </span> | <span class="badge badge-info">{{ post.publish|date:"M d, Y" }}
                                </span>
                            </div>
                        </a>
                        <!-- Post metadata ends -->

                        <!-- Post tags list -->
                        {% post_tags post %}
                        <!-- Inclusion tag for tags display -->
                        <!-- Post tags list ends -->
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Post list ends -->

            <!-- Blog stats Sidebar -->
            <div class="col-12 col-lg-3 normal-text text-white post-list-sidebar">
                <h1 class="display-5 text-center pt-3 pr-3 pl-3 pb-1">Blog Stats</h1>
                <hr class="hr-accent">
                <div class="p-3">
                    <h3 class="mt-4">Latest Posts</h3>
                    {% show_latest_posts 3 %}
                </div>
                <div class="mt-3 p-3">
                    <h3 class="mt-4">Most Commented Posts</h3>
                    {% get_most_commented_posts 3 as most_commented_posts %}
                    <ul>
                        {% for post in most_commented_posts %}
                        <li>
                            <p>
                                <a class="text-info" href="{{ post.get_absolute_url }}">{{ post }}</a>
                                <span class="badge badge-success">{% total_active_comments post %}</span>
                            </p>
                        </li>
                        {% endfor %}
                    </ul>
                    {% if not most_commented_posts %}
                    <div class="progress mt-3">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar"
                            aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                    </div>
                    <p class="text-info mt-2 pl-2">Posts are picking up momentum ...</p>
                    {% endif %}
                </div>
                <div class="mt-3 p-3">
                    <h3>Popular tags</h3>
                    {% popular_tags 2 as pop_tags %}
                    {% for tag in pop_tags %}
                    <a href="{% url 'blog:post_list_by_tag' tag.slug %}">
                        <span class="badge badge-primary">
                            <!-- https://github.com/jazzband/django-taggit/blob/master/taggit/managers.py -->
                            <!-- https://github.com/jazzband/django-taggit/issues/203#issue-28636008 -->
                            {{ tag.name }}({{ tag.num_times }})
                        </span>
                    </a>
                    {% empty %}
                    <div class="progress mt-3">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                            aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                    </div>
                    <p class="text-primary mt-2 pl-2">Tags are picking up momentum ...</p>
                    {% endfor %}
                </div>
            </div>
            <!-- Blog stats sidebar ends -->
        </div>
    </div>
</div>

<!-- Pagination links -->
<div class="section-primary section-boundary">
    <div class="container p-5">
        {% include 'pagination.html' with page=posts next="Older Posts" previous="Newer Posts"%}
    </div>
</div>
<!-- Pagination ends -->
<!-- Section 1 ends -->

{% endblock content %}