<!-- blog/post/post_share_email.html -->

{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
{{ block.super }} - Email - {{ post.title }}
{% endblock title %}

<!-- Dynamic content on banner overlay -->
{% block banner_content %}
<div class="col d-flex align-items-center justify-content-center">
    <div class="text-center">
        <h1 class="display-5">Email '{{ post.title }}'</h1>
        <hr class="hr-accent">
    </div>
</div>
{% endblock banner_content %}
<!-- Dynamic content on banner overlay ends -->

<!-- Page content sections -->
{% block content %}

<!-- Section 1-->
<div class="email-share-form p-5 d-flex justify-content-center normal-text section-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                {% if sent %}
                <h3>
                    Email Sent!
                </h3>
                {% else %}
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-dark btn-block" type="submit" value="Send">
                </form>
                {% endif %}
                <a class="mt-3 d-inline-block" href="{{ post.get_absolute_url }}">Back to Post</a>
            </div>
        </div>
    </div>
</div>
<!-- Section 1 ends -->

<!-- Section 2-->
<section id="quote" class="section-boundary" style="height: 300px;">
    <div class="container">
        <div class="row align-items-center" style="height: 300px;">
            <div class="col text-center">
                <span class="display-4 d-none d-md-inline-block"><i class="fa fa-quote-right shadow"></i></span>  
                <span class="d-inline-block display-4" style="padding-right: 10px;padding-left: 10px;">
                    Do One Thing and Do It Well
                </span>
                <span class="display-4 d-none d-md-inline-block"><i class="fa fa-quote-right shadow"></i></span>  
            </div>
        </div>
    </div>
</section>
<!-- Section 2 ends -->

{% endblock content %}