<!-- blog/post/post_detail.html -->

{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block title %}
{{ block.super }} - Blog - {{ post.title }}
{% endblock title %}

<!-- Dynamic content on banner overlay -->
{% block banner_content %}
<div class="col d-flex align-items-center justify-content-center">
    <div class="text-center">
        <h1 class="display-4">{{ post.title }}</h1>
        <h2>{{ post.summary }}</h2>
        <p>Author: {{ post.author|title }} | Published: {{ post.publish|date:"D, d M, Y" }}</p>
        {% post_tags post %}
        <!-- Inclusion tag for tags display -->
        <hr class="hr-accent">
    </div>
</div>
{% endblock banner_content %}
<!-- Dynamic content on banner overlay ends -->

<!-- Page content sections -->
{% block content %}

<!-- Section 1-->
<div class="d-flex justify-content-center section-primary p-5 post-detail">
    <div class="container">
        <span class="post-text">{{ post.body|markdown }}</span>
        <a href="{% url 'blog:post_share_by_email' post.id %}"><i class="fa fa-envelope fa-2x"></i></a>
    </div>
</div>
<!-- Section 1 ends -->

<!-- comments section -->

<div id="comments_section" class="p-5 section-boundary">
    <div class="container">

        <!-- Total comments part -->
        <!-- Important! - comments is a Django Page object -->
        {% with comments.paginator.count as total_comments %}
        {% if total_comments %}
        <p class="text-right">{{ total_comments }} comment{{ total_comments|pluralize }}</p>
        {% endif %}
        {% endwith %}
        <hr>

        <!-- Comments -->
        {% for comment in comments %}
        <div class="{% cycle 'odd-comment' 'even-comment' %} p-2">
            <!-- https://docs.djangoproject.com/en/3.0/topics/pagination/ -->
            <!-- https://docs.djangoproject.com/en/3.0/ref/templates/builtins/#for -->
            <!-- Adding in for loop: https://stackoverflow.com/a/24912805/1220250-->
            <span class="badge badge-success">#{{ forloop.counter0|add:comments.start_index }} </span>
            <span class="badge badge-warning">{{ comment.name|title }}</span> said
            <span class="badge badge-info">{{ comment.created|naturaltime }}</span>
            <p>
                {{ comment.body|markdown }}
            </p>
        </div>
        {% endfor %}
        <!-- Comments end -->

        <!-- Pagination for the comments -->
        {% if comments %}
        <hr>
        {% include 'comments_pagination.html' with page=comments %}
        {% endif %}
        <!-- Pagination for the comments ends -->

        <!-- Form for submitting comments -->
        <h3 class="mt-4">Leave a comment</h3>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-dark" value="Submit">
        </form>
        <!-- Comment form ends -->
    </div>
</div>

<!-- comments section ends -->

<!-- Section 2: Similar posts -->
<div class="similar-posts text-left normal-text section-boundary">
    <div class="container p-5">
        <h3 class="text-white">Similar Posts</h3>
        <hr class="hr-accent">
        <ul class="text-white">
            {% for post in similar_posts %}
            <li>
                <p>
                    <a class="text-success" href="{{ post.get_absolute_url }}">
                        {{ post }}
                    </a>
                </p>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<!-- Section 2 ends-->

<!-- Section 3 -->
<section id="quote" class="section-boundary" style="height: 300px;">
    <div class="container">
        <div class="row align-items-center" style="height: 300px;">
            <div class="col text-center">
                <span class="display-4 d-none d-md-inline-block"><i class="fa fa-quote-right shadow"></i></span>
                <span class="d-inline-block display-4" style="padding-right: 10px;padding-left: 10px;">
                    Do One Thing and Do It Well
                </span>
                <span class="display-4 d-none d-md-inline-block"><i class="fa fa-quote-right shadow"></i></span>
            </div>
        </div>
    </div>
</section>
<!-- Section 3 ends -->

{% endblock content %}