{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}RealNitinWorks{% endblock %}</title>
    <link rel="stylesheet" href="{% static "assets/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/styles.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/monokai.css" %}">
</head>

<body>

    {% include "navbar.html" %}

    <!-- Banner with overlay below the Navbar -->
    <div class="header banner pt-5 p-md-none">
        <div class="row h-100">
            <div class="col-md-12 d-flex h-100 image-color-overlay flex-column flex-sm-row">
                <!-- Dyanamic content on top of the banner -->
                {% block banner_content %}
                {% endblock banner_content %}
                <!-- Dyanamic content ends -->
            </div>
        </div>
    </div>
    <!-- Banner ends -->

    <!-- Page content sections -->
    {% block content %}
    {% endblock content %}
    <!-- Page content ends-->

    {% include "footer.html" %}

    <!-- Javascript files -->
    <script src="{% static "assets/js/jquery.min.js" %}"></script>
    <script src="{% static "assets/bootstrap/js/bootstrap.min.js" %}"></script>
    <!-- Javascript ends -->

</body>

</html>