{% load static %}
{% load portfolio_tags %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}RealNitinWorks{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'assets/img/favicon-me.ico' %}" />
    <link rel="stylesheet" href="{% static "assets/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
    <link rel="stylesheet" href="{% static "assets/fonts/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/styles.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/monokai.css" %}">
</head>

<body style="font-family: 'Roboto Mono', monospace; overflow-x: hidden;">
    <!-- Navbar -->
    {% include 'navbar.html'%}

    <!-- Messages -->
    {% include 'message.html' %}

    <!-- Banner with overlay below the Navbar -->
    <div id="banner" class="header pt-5 p-md-none section-boundary">
        <div class="row h-100">
            <div class="col-md-12 d-flex h-100 flex-column flex-sm-row">
                <!-- Dyanamic content on top of the banner -->
                {% block banner_content %}
                {% endblock banner_content %}
                <!-- Dyanamic content ends -->
            </div>
        </div>
    </div>
    <!-- Banner ends -->

    <!-- Sections -->
    {% block content %}
    {% endblock content %}

    <!-- Quote section: Display random quote -->
    {% quote %}
    <!-- Quote section ends -->

    <!-- Footer -->
    {% include 'footer.html' %}

    <!-- Javascript libs -->
    <script src="{% static "assets/js/jquery.min.js" %}"></script>
    <script src="{% static "assets/bootstrap/js/bootstrap.min.js" %}"></script>

    <!-- jquery for bootstrap toasts -->
    <script>
        $(document).ready(function() {
            $('.toast').toast('show');
        });
    </script>
</body>

</html>