{% load static %}


<!-- Footer -->
<footer class="page-footer font-small bg-dark pt-4">
    <div class="container">
        <ul class="list-unstyled list-inline text-center social-icons-list">
            <li class="list-inline-item">
                <a href="https://twitter.com/nitin_cherian" target="_blank" rel="noopener"
                    class="btn-floating btn-fb mx-1">
                    <img src="{% static "assets/img/twitter.svg" %}" alt="Twitter Icon">
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/nitin-george-cherian-54b77828/" target="_blank" rel="noopener"
                    class="btn-floating btn-tw mx-1">
                    <img src="{% static "assets/img/linkedin.svg" %}" alt="LinkedIn Icon">
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://github.com/realnitinworks" target="_blank" rel="noopener"
                    class="btn-floating btn-dribbble mx-1">
                    <img src="{% static "assets/img/github.svg" %}" alt="GitHub Icon">
                </a>
            </li>
        </ul>
    </div>
    <div class="footer-copyright text-center py-3 bg-dark">© 2020 Nitin Cherian. All Rights Reserved.
    </div>
</footer>
<!-- Footer ends -->