
<!-- Footer -->
<footer style="padding: 20px;">
    <div class="container">
        <div class="row text-center" style="padding: 10px;">
            <div class="col">
                <i class="fa fa-github" style="font-size: 42px;padding: 10px;"></i>
                <i class="fa fa-twitter" style="font-size: 42px;padding: 10px;"></i>
                <i class="fa fa-linkedin" style="font-size: 42px;padding: 10px;"></i></div>
        </div>
        <div class="row text-center">
            <div class="col">
                <p>Copyright&nbsp;<i class="fa fa-copyright"></i>&nbsp;RealNitinWorks 2020</p>
            </div>
        </div>
    </div>
</footer>
<!-- Footer ends -->