<!-- Footer -->
<footer style="padding: 20px;">
    <div class="container">
        <div class="row text-center" style="padding: 10px;">
            <div class="col">
                <a href="https://github.com/realnitinworks">
                    <i class="fa fa-github" style="font-size: 42px;padding: 10px;"></i>
                </a>
                <a href="https://twitter.com/nitin_cherian">
                    <i class="fa fa-twitter" style="font-size: 42px;padding: 10px;"></i>
                </a>
                <a href="https://www.linkedin.com/in/nitin-george-cherian-54b77828/">
                    <i class="fa fa-linkedin" style="font-size: 42px;padding: 10px;"></i></div>
            </a>
        </div>
        <div class="row text-center">
            <div class="col">
                <p>Copyright&nbsp;<i class="fa fa-copyright"></i>&nbsp;RealNitinWorks 2020</p>
            </div>
        </div>
    </div>
</footer>
<!-- Footer ends -->