<!-- message.html -->
<!-- Display the messages on successful form submission for example -->
<!-- https://docs.djangoproject.com/en/3.0/ref/contrib/messages/ -->

<!-- Using bootstrap toast for showing the message -->
<!-- https://getbootstrap.com/docs/4.3/components/toasts/ -->
{% if messages %}
{% for message in messages %}
<div class="base-toast">
    <div class="toast" data-autohide="false" style="position: absolute; top: 0; right: 0;">
        <div class="toast-header">
            <strong class="mr-auto text-primary">Comment submitted - RealNitinWorks</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
        </div>
        <div class="toast-body">
            {{ message }}
        </div>
    </div>
</div>
{% endfor %}
{% endif %}