<!-- navbar.html-->
{% load blog_tags %}

<!-- Navbar -->
<nav class="navbar navbar-light navbar-expand-md section-boundary">
    <div class="container-fluid">
        <a class="navbar-brand text-white ml-5" href="{% url "portfolio:home" %}" style="font-size: 24px;">
            <strong>RealNitinWorks</strong>
        </a>
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto mr-5">
                <li class="nav-item" role="presentation">
                    <a class="nav-link text-white {% if active == "home" %} shadow-lg {% endif %}"
                        href="{% url "portfolio:home" %}">
                        Home
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link text-white  {% if active == "portfolio" %} shadow-lg {% endif %}" href="#">
                        Portfolio
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link text-white  {% if active == "blog" %} shadow-lg {% endif %}"
                        href="{% url "blog:post_list" %}">
                        Blog <span class="badge badge-primary">{% total_posts %}</span>
                    </a>
                </li>
                <!-- Search form -->
                <form class="form-inline my-2 my-lg-0 ml-md-3" method="get" action="/search/">
                    <input class="form-control mr-sm-2" required type="search" placeholder="Search Posts"
                        aria-label="Search" name="q">
                </form>
                <!-- Search form ends -->
                <li class="nav-item" role="presentation">
                    <a class="nav-link text-white  {% if active == "feeds" %} shadow-lg {% endif %}"
                        href="{% url 'portfolio:feeds' %}">
                        Feeds
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link text-white  {% if active == "contact" %} shadow-lg{% endif %}"
                        href="{% url 'portfolio:contact' %}">
                        Contact
                    </a>
                </li>
            </ul>

        </div>
    </div>
</nav>
<!-- Navbar ends -->